@import "tools/colors.css";
@import "tools/clear.css";
@import "tools/add.css";
@import "tools/slider.css";
  
.tools {
  position: relative;
  float: left;
  background: #f2f2f2;
  padding: 50px 10px 10px;
  z-index: -1;
  border: 2px solid black;
  margin: 0 10px 10px 0;
};